body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
}

header, footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer {
    background-color: #5555554b;
    color: #fff;
}

nav {
    background-color: #000;
    overflow: hidden;
    position: relative;
}

nav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #575757;
    color: #fff;
}

.user-menu {
    float: right;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.user-menu:hover {
    background-color: #575757;
    color: #fff;
}

.user-menu .user-name {
    margin-right: 10px;
}

.user-menu .user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-menu .user-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the div without distortion */
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #000;
    border: 1px solid #CD1818;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
}

.dropdown-menu a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dropdown-menu a:hover {
    background-color: #575757;
}

.container {
    padding: 20px;
}

.ott-options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ott-option {
    flex: 1 1 30%;
    margin: 10px;
    padding: 20px;
    text-align: center;
    border: 3px solid #CD1818;
    border-radius: 8px;
    background-color: #000;
    transition: transform 0.2s, border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
    cursor: pointer;
}

.ott-option:hover {
    transform: scale(1.05);
    border-color: #F2613F;
    box-shadow: 0 0 10px rgba(30, 29, 29, 0.059);
    background-color: #2228315e;
}

.ott-option img {
    display: block;
    margin: 0 auto 10px;
    width: 100px;
    height: 100px;
}
